<header class="navbar color2-gradient mb-4">
        <div class="">
            <h1 class="rounded-lg color1 p-2 font-weight-bold"><a href="/" class="text-color1 link">fooder</a></h1>
        </div>
        <div class="d-flex">
            <a class="text-color1 m-2 mybtn link" href="/home">Home</a>
            <a class="text-color1 m-2 mybtn link" href="/likes-page">Likes</a>
            {{#if loggedIn}}
            <a id="logout" class="tcolor1 m-2 mybtn link">Logout</a>
            {{else}}
            <a class="tcolor1 m-2 mybtn" href="/login">Logout</a>
            {{/if}}
        </div>

</header>

<div class="col-12 col-lg flex-row text-center"> 
    <h2 class="text-color2 text-center ">Finder</h2>
</div>
<div class="m-auto col-md-4 flex-column text-center h-100">
    {{#each restaurants}}
        {{restaurantCard this @index}}
    {{/each}}
</div>
<script src="/JS/homepage.js"></script>