<div class="col-12 col-lg flex-row text-center"> 
    <h2 class="text-color2 text-center ">Matches</h2>
</div>
<div>
        <div class="col-12 col-md-6 col-xl-3 mb-3">
          <div class="card">
            <h4 class="card-header bg-dark text-light">
              
            </h4>
            <ul id="list-inProgress" class="list-group list-group-flush">
              {{this}}
            </ul>
          </div>
        </div>
</div>

<script src="../public/JS/likes-page.js"></script>