
<div class="sm-row-5">
  <form class="login-form card m-auto align-items-center">
    <div class="">
      <h4 class="text-color2 p-2 m-0">Login</h4>
    </div>
    <div>
      <label for="email-login" class="inline-flex m-2 ">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="mb-5">login</button>
    </div>
  </form>
</div>

<div class="mt-4 p-7 col-sm-12 text-center">
  <h5>Don't Have an Account? Signup Down Below!</h5>
</div>

<form class="sm-row-5 signup-form card m-5 align-items-center">
  <div class="">
      <h4 class="text-color2 p-2 m-0">Signup</h4>
    </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="mb-5">signup</button>
  </div>
</form>


<script src="../public/JS/login.js"></script>
